<%- include('../partials/header') %>

<h2>Enter a New Career Goal</h2>
<form action="/careers" method="POST">
  <label>Name:
    <input type="text" name="name">
  <label>Description:
    <input type="text" name="description">
  </label><br>
  <label>Priority:
    <input type="number" name="priority">
  </label><br>
  <button type="submit">Add Career goal</button>
</form>
<p><%= errorMsg %></p>

<%- include('../partials/footer') %>